
export ZSH="${HOME}/.oh-my-zsh"
ZSH_THEME=""
plugins=({{ oh_my_zsh.plugins | default(oh_my_zsh_plugins) | join(' ') }})
source $ZSH/oh-my-zsh.sh

## ssh-agent
source ~{{ user.username }}/ssh-agent.sh
ssh-add ~{{ user.username }}/.ssh/insecure_private_key

## git alias
alias k="kubectl"
alias gs="git status"
alias ga="git add"
alias gcm="git commit"
alias gl="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gb="git branch"
alias gco="git checkout"

## zsh syntax highlighting
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

## pure
fpath+=$HOME/.zsh/pure
autoload -U promptinit; promptinit
PURE_CMD_MAX_EXEC_TIME=10
zstyle :prompt:pure:path color white
zstyle ':prompt:pure:prompt:*' color cyan
zstyle :prompt:pure:git:stash show yes
prompt pure